%h1 Listing comapanies

%table.table
  %thead
    %tr
      %th 名前
      %th TEL
      %th 住所
      %th 無効
      %th
      %th
      %th

  %tbody
    - @comapanies.each do |comapany|
      %tr
        %td= comapany.name
        %td= comapany.tel
        %td= comapany.address
        %td= comapany.invalid_flag
        %td= link_to 'Show', comapany
        %td= link_to 'Edit', edit_comapany_path(comapany)
        %td= button_to "Destroy", comapany, method: :delete, :class => "button"

%br

= link_to 'New Comapany', new_comapany_path
